<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:gamesLauncher.properties"/>

    <bean id="gameStrategyBean"
          class="ru.raynur.springdependency.game.StrategyGame">
    </bean>
    <bean id="gameSlasherBean"
          class="ru.raynur.springdependency.game.SlasherGame">
    </bean>
    <bean id="gameShooterBean"
          class="ru.raynur.springdependency.game.ShooterGame">
    </bean>

    <bean id="gamesLauncher"
          class="ru.raynur.springdependency.GamesLauncher">
        <property name="games">
            <list value-type="com.somePackage.TypeForList">
                <ref bean="gameStrategyBean"/>
                <ref bean="gameSlasherBean"/>
                <ref bean="gameShooterBean"/>
            </list>
        </property>
        <property name="version" value="${gamesLauncher.version}"/>
    </bean>

</beans>